<h2>Mobile List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>
              <button class="btn btn-primary" (click) = "showEdit(product)">Edit</button>
                <a class="btn btn-primary" [routerLink] = "['../mobile-detail',product.id]">View</a>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="showEditProduct">
  <h3>Details</h3>
  <!--Send data to edit product-->
  <app-edit-product [product] = "selectedproduct" (productChange) = update($event)></app-edit-product>
</div>


